<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Тренажер реляционной алгебры</title>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" type="text/css" href="main.css">
  
</head>

<body>
  <div class="container-fluid" id="app">

    <h1 class="text-center">Тренажер реляационной алгебры</h1>
    <div class="all">
      <div class="enter">

        <div class="enter-block">
          <h3>Описание отношений</h3>
          <div class="text-block">
            <textarea class="text" name="name" rows="5" cols="50" v-model="structure"></textarea>
            <button type="button" class="btn btn-success enter-button"  name="button" @click="sendStructure">Сформировать</button>
          </div>     
        </div>

        <div class="enter-block">
          <h3>Запрос</h3>
          <div class="text-block">
            <textarea class="text" name="name" rows="5" cols="50" v-model="query"></textarea>
            <button type="button" class="btn btn-success enter-button"  @click="sendData" name="button">Отправить</button>
          </div>
        </div>
      </div>
      <div class="right-part">
        <div class="col md-8" v-if="tables_length > 0">
          <ul class="nav nav-pills">
            <li class="nav-item" v-for="(table, key) in tables">
              <a class="nav-link" href="#" v-bind:class="{active: selectedTable == key}" @click.prevent="selectTab(key)">{% raw %}{{key}}{% endraw %}</a>
            </li>
          </ul>
          <div class="scroll-area">
            <table class="table-green mb-0 table-fixed">
              <thead>
                <tr>
                   <th scope="col" class="green-th" style="text-align: center" v-for="field in tables[selectedTable].headers">{% raw %}{{field}}{% endraw %}</th>
                   <th scope="col" class="empty-th"></th>
                </tr>
              </thead>
              <tbody id="style-15">
                <tr v-for="(row, key) in tables[selectedTable].rows">
                  <td v-for="(field, key2) in row" class="new-row "><input type="text" name="" class="form-control" v-model="tables[selectedTable].rows[key][key2]"></td>
                  <td class="delete-row"><a class="delete" @click="deleteRow(selectedTable, key)" href="#"><i class="material-icons">clear</i></a></td>
                </tr>
              </tbody>
            </table>
            <div class="table-bottom">
              <a href="#" class="add-button ml-auto" @click.prevent="addRow"><i class="material-icons icon-add">add</i></a>
            </div>
          </div>
          
        </div>
        <div class="col md-8" v-if="resultTab && resultTables">
                <ul class="nav nav-pills">
                  <li class="nav-item" v-for="(table, key) in resultTables">
                    <a class="nav-link" href="#" v-bind:class="{active: resultTab == key}" @click.prevent="selectResultTab(key)">{% raw %}{{key}}{% endraw %}</a>
                  </li>
                </ul>
                <div class="scroll-area">
                  <table class="table-green mb-0  table-fixed">
                  <thead>
                      <tr>
                        <th scope="col" class="green-th" style="text-align: center"  v-for="field in resultTables[resultTab].headers">{% raw %}{{field}}{% endraw %}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr  v-for="(row, key) in resultTables[resultTab].rows" >
                        <td class="result-white new-row" v-for="(field, key2) in row" class="new-row">{% raw %}{{ resultTables[resultTab].rows[key][key2]}}{% endraw %}</td>
                      </tr>
                    </tbody>
                  </table>
                  </div>                
            </div>
        </div> 

      </div>
      

        
  </div>

  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: () => {
        return {
          title: "Тренажер реляционной алгебры",
          tables: {},
          query: '',
          structure: ``,
          resultTab: null,
          selectedTable: null,
          resultTables: {}
        }
      },
      created() {

      },
      methods: {
        deleteRow(table, key) {
          this.$set(this.tables[table].rows, key, undefined);

          this.tables[table].rows = this.tables[table].rows.filter((item) => {
            return (item)
          })

          //console.log(this.tables[table]);

        },
        sendStructure() {
          const regex = /([а-яА-Я0-9_a-zA-Z]+)\s*\s*\[\s*((?:[а-яА-Я0-9_a-zA-Z]+)(?:\s*[,]\s*[а-яА-Я0-9_a-zA-Z]+)*)\s*\]\s*;/gm;
          let m;
          let res = {};
          while ((m = regex.exec(this.structure)) !== null) {
            // This is necessary to avoid infinite loops with zero-width matches
            if (m.index === regex.lastIndex) {
              regex.lastIndex++;
            }

            var key;
            m.forEach((function(match, groupIndex) {
              switch (groupIndex) {
                case 1:
                  key = match;
                  break;
                case 2:
                   res[key] = {};
                   match = match.replace(" ", "");
                   res[key]["headers"] = match.split(",");
                   res[key]["rows"] = [];
                  break;
              }
            }).bind(res));
          }
          this.selectedTable = Object.keys(res)[0] ? Object.keys(res)[0] : "";
          this.tables = res;
        },
        // sendData() {
        //   $.post('./data', {
        //     query: this.query,
        //     tables: JSON.stringify(this.tables),
        //     definition: this.structure
        //   }, (data) => {
        //     this.resultTab = Object.keys(data.views_data)[0] ? Object.keys(data.views_data)[0] : "";
        //     if(data.error) {
        //         alert(data.message)
        //     }
        //     this.resultTables = data.views_data;
        //   })
        // },
        sendData() {
            var data = {
                "error": false, 
                "views_data": {
                  "R1": {
                    "headers": ["A", "B", "C"], 
                    "rows": [[1, 2, 3], [4, 5, 6]]}, 
                  "R2": {
                    "headers": ["D", "E"], 
                    "rows": [[7, 8], [9, 10], [11, 12]]}
                }
            };
            this.resultTab = Object.keys(data.views_data)[0] ? Object.keys(data.views_data)[0] : "";
            this.resultTables = data.views_data;
        },
        selectTab(table) {
          this.selectedTable = table;
        },
        selectResultTab(table) {
          this.resultTab = table;
        },
        addRow() {
          let = new_row = [];
          for (var field in this.tables[this.selectedTable].headers) {
            new_row[field] = "";
          }
          this.$set(this.tables[this.selectedTable].rows, this.tables[this.selectedTable].rows.length, new_row);
        }
      },
      computed: {
        tables_length() {
          return Object.keys(this.tables).length;
        }
      }
    })
  </script>
</body>

</html>