h1{
  margin-bottom: 40px;
}

.all{
  display: grid;
  grid-template-rows: 20em auto;

}
.top-part{
  display: flex;
  justify-content: space-between;
}
.bottom-part{
  display: flex;
  justify-content: space-between;
}

.enter-block{
  height: 100%;
  width: 45%;
}
.text-block{
  display: grid;
  grid-row-gap: 15px;
}
.text{
  margin-right: 15px;
  resize: none;
  height: 150px;
  width: 100%;
  overflow-x: auto;
}

/*TABLE*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #28a745;
}
/*SCROLL WITH FIXED TH*/
.table-green{
  display: table;
  border-spacing: 2px;
  border-collapse: collapse;
  max-width: 540px;
}
.first-table ,.second-table{
  max-width: 45%;
}
.first-table{
  margin-right: 10px;
  margin-bottom: 50px;
}
/*.table-fixed tbody {
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block;
}
.table-fixed tr:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
}
.table-fixed tbody td,
.table-fixed thead > tr > th {
  float: left;
}
tbody::-webkit-scrollbar { 
  display: none; 
}*/
/*STYLE*/
.green-th{
  background-color: #E6EEE8;
  color: #000;
  border:1px solid #28a745;
  word-wrap: break-word;
  font-size: .75rem;
  vertical-align: middle;
  padding: .5rem;
  min-width: 70px;
  max-width: 90px;
}
.empty-th{
  width: 39px;
}
.table-green td{
  padding: .20rem;
  display: table-cell;
}
.new-row{
  background-color: #E6EEE8;
  color: #000;
  border:1px solid #28a745;
  text-align: center;
}
/*BUTTONS*/
.delete-row{
  background-color: #fff;
  border: none;
  padding-right: 15px;
  text-align: center;
  vertical-align: middle;
}
.delete, .delete:hover {
  color: red;
}
#data_table tr td:last-child a.delete {
  color: red;
}
.table-bottom {
  width: 95%;
  height: 50px;
  position: relative;
  text-align: center;
  padding-top: 15px;
}
.icon-add{
  border: 1px solid green;
  border-radius: 25%;
  padding: 10px;
}
.table-bottom a.add-button {
  color: green;
}
.table-bottom a.add-button i.material-icons {
  font-size: 30px;
}
/*TABLE RESULT*/
.result-white{
  background-color: white;
  border-right: 1px solid #28a745;
}


@media only screen and (max-width: 992px) {
  .bottom-part{
    flex-wrap: wrap;
    flex-direction: column;
  }
} 

