h1{
  margin-bottom: 40px;
}

.enter{
  width: 40%;
  height: 500px;
  display: grid;
  grid-column-gap: 250px 250px;
}
.enter-block{
  height: 100%;
  margin: 15px;
}
.all{
  display: flex;
}
.text-block{
  display: grid;
  grid-row-gap: 15px;
}
.text{
  margin-right: 15px;
  width: 100%;

}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #28a745;
}

.table-green{
  display: table;
  border-spacing: 2px;
  border-collapse: collapse;
  width: 100%;
}

.table-green th{
  padding: .75rem;
}

.table-green td{
  padding: .20rem;

  display: table-cell;

}
 .green-th{
  background-color: #E6EEE8;
  color: #000;
  border:1px solid #28a745;
}
.new-row{
  background-color: #E6EEE8;
  color: #000;
  border:1px solid #28a745;
    vertical-align: top;

}
.delete-row{
  background-color: #fff;
  border: none;
  padding-right: 15px;
  text-align: center;
  vertical-align: middle;
}

.empty-th{
  width: 50px;
}

#data_table tr td:last-child a.delete {
  color: red;
}

.table-bottom {
  width: 95%;
  height: 50px;
  position: relative;
  text-align: center;
  padding-top: 15px;
}

.table-bottom a.add-button {
  color: green;
}

.table-bottom a.add-button i.material-icons {
  font-size: 30px;
}

.icon-add{
  border: 1px solid green;
  border-radius: 25%;
  padding: 10px;
}

.delete, .delete:hover {
  color: red;
}